/* Desktop */
@media screen and (min-width: 768px) {
    .main-layout {
        grid-template-rows: 8.3rem 1fr 13.125rem;
    }

main .meme-editor-container{
    height: 100%;
    gap:140px;
    padding: 11px;
    justify-content: center;
    align-items: center;
}
.main-header {
    grid-template-columns: 1fr auto;
    justify-content: space-between;
}

.main-header .hamburger{
    display: none;
}
.main-nav {
    display: flex;
    background-color: transparent;
    height: auto;
    grid-column: 2/-1;
    position: unset;
    justify-content: flex-end;
    width: auto;
    box-shadow: none;
    overflow-x: unset;
}
.main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.main-nav ul li {
    font-size: 1.25rem;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    width: 90px;
    border-bottom:none;
    cursor: pointer;
}

.main-nav ul li:first-child{
    border-right: 2px solid white;
}

.main-nav .close-btn {
    display: none;
}
.main-search form {
    justify-self: self-start;
    margin-left: 24px;
}

.categories-container {
    display: flex;
    gap: 2rem;
    padding: 0 28px;
}

.home-page-container {
    grid-template-rows: 9rem 1fr 25.125rem;
}
.main-search {
    padding: 35px 0 0;
    font-size: 28px;
}

.main-content .meme-editor-container{
    font-size: 2.5rem;
    display: flex;
    gap: 26px;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    border-radius: 1.875em;
}

.main-content .meme-editor-container>*{
    align-items: center;
    justify-self: center;
}

.meme-editor-container .main-canvas{
    height: unset;
    width: unset;
    margin: 10px;        
}
   
    
.meme-editor-container .edit-canvas-tools{
    font-size: 2.5rem;
    width: fit-content;
    justify-items: center;
    gap: 0;
    justify-content: space-between;
    height: 500px;
   
}

.edit-canvas-tools>div>button{
    width: 49.1px;
    height: 52.2px;
    padding: 10px;   
}

.font-editors-container {
    column-gap: 27.6px;
    row-gap: 36.8px;
}
    

.main-header .logo {
    width: 9.1125rem;    
}

.main-footer .footer-text {
    font-size: 20.7875px;
        
}
section .image-gallery{
    column-count: 8;
}


.main-social-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.main-footer .main-social-info>*{
    align-items: center;
    justify-self: center;
}

.person-detailes {
    align-items:start;
    gap: 0; 
}

.person-detailes h4 {
        /* font-family: "Montserrat-Bold"; */
    font-size: 25px;
    position: unset; 
    transform:none;
}

.person-detailes p {
     /* font-family: "Montserrat-Regular"; */
    width: 530px;
    margin-bottom: 48px;
    height:auto; 
    font-size: 20px;
    text-align: start; 
        
}

.main-social-info .person-container img{
    position: unset;
}
}


