@font-face {
    font-family: playfair;
    src: url(/fonts/Playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
}