/* pallete */

:root{
    --clr-primary:rgba(96, 96, 96, 1);
    --clr-secondary:rgba(88, 201, 58, 1);
    --clr-facebook:rgba(81, 111, 173, 1);
    --clr-linkdin:rgb(10 102 194);
    --clr-github:rgb(0 0 0);

}

