.edit-canvas-tools{
    gap: 12px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 1.875em;
}

.edit-canvas-tools .btns-editor-container{
    display: flex;
    gap: 23px;
}

.edit-canvas-tools > div > button{
    cursor: pointer;
    width: 43px;
    height: 42px;
    padding: 8px;
    justify-self: center;
    background: rgba(255,255,255,1);
    border-radius: 15px;
    border: none;
}

.font-editors-container {
    display: grid;
    column-gap: 23px;
    row-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 15px;
}
.btn-switch-inputs img{
    width: 27px;
    height: 27px;
}

.edit-canvas-tools .font-selector{
    grid-column: 1/4;
    border-radius: 16px;
    border: none;
}

.sticker-container{
    display: flex;
    background-color: rgba(255, 255, 255, 1);;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
    gap: 10px; 
    margin: 20px 0; 
    width: 306px;
    height: 57px;
}    

.sticker-container img{
    width: 32px;
    height: 29px;
}


.edit-canvas-tools .share-btn{
    /* font-family: "Montserrat-Medium"; */
    width: 123px;
    height: 42px;
    font-size: 16px;
    background-color:#fe9d8ce3;
    color:rgba(255,255,255,1);
   

}
.color-picker-fill, .color-picker-border {
    position: relative;
  }
  
  input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .emoji-scroller-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }

  .emoji-scroller {
    max-width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
    display: flex;
    align-items: center;
  }

  .emoji-container {
    font-size: 2rem;
    display: inline-block;
    transition: scroll-behavior 0.3s ease; 
  }
  .emoji-container span{
    cursor: pointer;
  }

  .emoji-scroller-container .scroll-button {
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content */

.modal-content {
    background-color: white;
    width: 80%;
    max-width: 300px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
 
  button.share-option, button.download-option, .btn-facebook {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #e7d362;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal-content .file-input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #e7d362;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .btn-Share:hover, button.download-option:hover {
    background-color: #e6831a;
  }
  .btn-facebook{
    margin:  0;
    padding: 0;
  
  }