

.main-social-info{
    background: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-social-info>*{
    margin: 0;
    padding: 0;
    justify-self: center;
   
}

.main-social-info .person-container{
    position: relative;
    width: 10.625rem;
    height: 13.07rem;
}
.main-social-info .person-container img{
position: absolute;
top: 30px;
}
.person-detailes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.person-detailes h4{  
     font-family: "Montserrat-Bold";
     font-size: 1.375rem;
     margin-bottom: 10px;
     color: rgb(238 134 131);       
}


    
.person-detailes p{
    font-family: Montserrat-thin;
    width: 17.07rem;
    height: 5.25rem;
    text-align: center;
    color: rgb(0, 0, 0);
}


.social-links{
    margin-top: 2px;
    margin-bottom: 60px;
    gap: 0.625em;
}

.social-links button {
    width: 2.625rem;
    height: 2.563rem;
    background: rgb(238 134 131);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s, opacity 0.4s;
}


.social-links a {
    display: block; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}


.social-links .btn-linkdin a {

    position: absolute;
    width: 27px;
    height: 25px;
   background-image: url('../../img/ICONS/linkedin.png');
}
.social-links .btn-linkdin:hover {
   background: var(--clr-linkdin);
}

.social-links .btn-facebook a {

    position: absolute;
    width: 13px;
    height: 25px;
   background-image: url('../../img/ICONS/facebook.png');
}
.social-links .btn-facebook:hover {
   background: var(--clr-facebook);
}


.social-links .btn-gitub a {

    position: absolute;
    width: 25px;
    height: 25px;
   background-image: url('../../img/ICONS/github.png');
}
.social-links .btn-gitub:hover {
   background: var(--clr-github);
}


