.main-footer{
    height: 14rem;
    background-color: #e7d362;
    align-content: center;
   position: relative;
}

.main-footer>*{
    justify-self: center;
}
  
.main-footer img{
    width: 9rem;
}

.main-footer .footer-text {    
       /* margin-top: 1rem; */
       grid-row: 2;
       font-weight: normal;
       line-height: 1.875rem;
       font-style: normal;
       text-align: center;
       color: rgba(255, 255, 255, 1);
       /* font-family: "Montserrat-Thin"; */
       position: absolute;
       bottom: 25px;
       left: 50%;
       width: 100%;
       transform: translateX(-50%);
}


