.hamburger{
    justify-self: right;
    margin-right: 15px;
    grid-column: 2 / 3;
    color: var(--clr-btn-txt);
    font-size: 1.25rem;
}

.main-nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 160px;
    height: 100%;
    background-color: #fe9d8ce3;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.3s ease;
    z-index: 999;
}

.main-nav ul {
flex-direction: column;
}

.main-nav ul li {
    border-bottom: 1px solid white;
    color: white;
    padding: 15px 20px;
}

.main-nav.open {
    right: 0;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .hamburger{
        display: none;
    }

    .main-nav {
        background-color: transparent;
        height: auto;
        position: unset;
        width: auto;
        box-shadow: none; 
    }

    .main-nav ul {
        flex-direction: row;
    }
    
    .main-nav ul li {
        border-bottom:none;
        cursor: pointer;
        border-right: 2px solid white;
    }
    
    .main-nav ul li:last-child{
        border-right: none;
    }

    .main-nav ul li:hover{
        color: var(--clr-primary-1);
    }
}