.main-search{
    margin-top: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;  
}
.main-search form{
    position: relative;
    grid-row: 1;
    align-content: center;
    justify-self: center;
}
 .main-search form input{
border: none;
border-bottom: 1px solid black;
}

.main-search form img{
    position: absolute;
    width: 19.6px;
    height: 18.1px;
    right: 4px;
    top: 12px;
    }


 

.categories-container{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.categories-container button{
    background-color: transparent;
    border: none;
}