.main-search{
    margin-top: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 18px 0 0;
    gap: 10px; 
}
.main-search form{
    position: relative;
    grid-row: 1;
    align-content: center;
    justify-self: center;
}
 .main-search form input{ 
        width: 100%;
        height: 43px;
        background-color: rgba(255,255,255,1);
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        padding: 13px;  
}

.main-search form img{
    position: absolute;
    width: 19.6px;
    height: 18.1px;
    right: 7px;
    top: 14px;
    }


 

.categories-container{
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

.category{
    cursor: pointer;
}

