.main-layout .main-header {
    display: grid;
    background-color: #e7d362;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.625rem;

}

.main-header .logo{
    width: 5.3125rem;
    grid-column: 1 / 2;

}



