main{
    background: rgba(227.00042724609375,227.00042724609375,227.00042724609375,1);
}

.main-content{
    margin:0;
    padding: 0.375rem;
    background: rgba(227.00042724609375,227.00042724609375,227.00042724609375,1);

}

section .image-gallery{
    column-count: 2;
  column-gap: 16px;
  padding: 16px;
  margin: auto;

}

.image-gallery-item {
    break-inside: avoid;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
  }

.image-gallery img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 16px;
    cursor: pointer;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  

