.main-layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.3rem 1fr 13.125rem;
    min-height: 100vh;
}

.home-page-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto 1fr 28.125rem ; 
}

.meme-editor-container{
    display: none; 
    padding: 11px;
}